<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.liquidb.helper</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>NODE_EXECUTABLE_PATH</string>
        <string>HELPER_SCRIPT_PATH</string>
    </array>
    
    <key>UserName</key>
    <string>USER_NAME</string>
    
    <key>GroupName</key>
    <string>GROUP_NAME</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>LOG_FILE_PATH</string>
    
    <key>StandardErrorPath</key>
    <string>LOG_FILE_PATH</string>
    
    <key>WorkingDirectory</key>
    <string>HELPER_DIRECTORY</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
    </dict>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
    
    <key>ExitTimeOut</key>
    <integer>10</integer>
    
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
